

<div id="header" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<div class="banner">
		<h1 class="main-title">Bioinformatics Misadventures</h1>
		<span class="sub-title"> Regular Mishaps with Bioinformatics</span>
	</div>
  <header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only mdl-js-ripple-effect">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/projects/">Projects</a>
				<a class="mdl-navigation__link" href="/blog/">Blog</a>
        <a class="mdl-navigation__link" href="/publications/">Publications</a>
        <a class="mdl-navigation__link" href="/contact/">Contact</a>
      </nav>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="/">Home</a>
			<a class="mdl-navigation__link" href="/projects/">Projects</a>
			<a class="mdl-navigation__link" href="/blog/">Blog</a>
			<a class="mdl-navigation__link" href="/publications/">Publications</a>
			<a class="mdl-navigation__link" href="/contact/">Contact</a>
    </nav>
  </div>
