.page-content{
	max-width:768px;
	margin-left: auto;
  margin-right: auto;
	overflow-x: auto;

}
.home-img{
	text-align: center;
	background-image: url("/assets/imgs/seamless-dna.png");
	padding: 0 20px;
	margin:0px;
	width:660px;
}
.home-img > h1{
	color:#fff;
	font-weight: bolder;
	text-shadow: 	0 0 5px #3F51B5,
								0 0 5px #3F51B5,
								0 0 5px #3F51B5,
								0 0 5px #3F51B5,
								0 0 5px #3F51B5,
								0 0 5px #3F51B5,
								0 0 5px #3F51B5;
}

.sub-title{
	text-align: center;
	color:#000;
	font-weight: bolder;
	background-color: #fff;
	/* text-shadow: 	0 0 5px #3F51B5,
								0 0 5px #3F51B5,
								0 0 5px #3F51B5,
								0 0 5px #3F51B5,
								0 0 5px #3F51B5,
								0 0 5px #3F51B5,
								0 0 5px #3F51B5; */
}

.home-text{
	padding:30px;
	text-align: center;
}

.main-title{
	color: #ffffff;
  font-weight: bolder;
}
/* .sub-title{
	/* padding-left: 20%; */
	font-weight: bolder;
  /* font-size:32px; */project-logo
	color: #ffffff;
	text-decoration: none;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
} */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	.sub-title {
    font-size: 18px;
  }
	.home-img > h1{
		font-size: 32px;
	}
	.home-img > h3{
		font-size: 24px;
	}
}

div.mdl-card__media >  img{
  max-width:100%;
  max-height:100%;
}
.mdl-card__title{
  width:100%;
}
div.mdl-card__title > img{
  position: absolute;
  right: 5px;
  height:30px;
}

.bold_author{
  font-weight: bold;
  font-style: italic;
}

.pub-list{
	width:100%;
	clear: both;
}

.pub_title{
  font-size: 14pt;
  font-weight: bold;
}

.pub-item, .pub_entry{
	padding-bottom:10px;
}

.pub_year{
  color:white;
  font-weight: bolder;
  text-align: center;
  background: rgb(96,125,139);
}
.authors{
	font-size:12pt;
	padding-bottom: 10px;
}

.abstract-dialog{
  width:90%;
}

.pub_details{
  margin:20px;
	clear: both;
}

.fas-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.contact-btn{
  width:70px;
  height:70px;
}
.demo-list-three {
  width: 650px;
}

.bibliography{
	clear:both;
}


.projects{
	padding:0px 15px;
}

.project-logo{
	display         : flex;
	justify-content : center;
	align-items     : center;
}
.project-logo img{
	display: block;
  margin-left: auto;
	height: 60px;
}

.project-desc p{
	font-size: 14pt; !important
}
.project-img{
	text-align: center;
}
.project-img img{
	width:100%;
	max-width: 300px;
	max-hight: 300px;
}

.post-date{
	text-align: right;
}

.post{
	padding: 20px;
	/* border: solid thin black; */
}
