.page-content{
	padding:20px;
	margin-left: auto;
  	margin-right: auto;
}
.home-img{
	text-align: center;
	background-image: url("/assets/imgs/seamless-dna.png");
	padding: 0 20px;
	margin-left: auto;
  	margin-right: auto;
	width:660px;
}

.home-text{
	padding:30px;
	text-align: center;
}

.main-title{
	color: #ffffff;
  font-weight: bolder;
  text-shadow: 	0 0 5px #000,
								0 0 5px #000,
								0 0 5px #000,
								0 0 5px #000,
								0 0 5px #000,
								0 0 5px #000;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	.sub-title {
    font-size: 18px;
  }
	.home-img > h1{
		font-size: 32px;
	}
	.home-img > h3{
		font-size: 24px;
	}
}

div.mdl-card__media >  img{
  max-width:100%;
  max-height:100%;
}
.mdl-card__title{
  width:100%;
}
div.mdl-card__title > img{
  position: absolute;
  right: 5px;
  height:30px;
}

.bold_author{
  font-weight: bold;
  font-style: italic;
}

.pub-list{
	width:100%;
	padding-left: 25px;
	clear: both;
}

.pub_title{
  /* font-size: 12pt; */
  font-weight: bold;
  color:#973f1d;
}

.pub-item, .pub_entry{
	clear:both;
	padding-bottom:0px;
	line-height: 150%;
}

.pub_year{
  color:white;
  font-weight: bolder;
  text-align: center;
  background: rgb(96,125,139); 
}

.pub_details{
  margin:20px;
	clear: both;
}
h2{
	color:#3a5f7e;
}

.doi_link,.post_url{
	color:#973f1d;
}

.authors{
	/* font-size:12pt; */
	padding-bottom: 10px;
}

.abstract-dialog{
  width:90%;
}



.fas-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.contact-btn{
  width:70px;
  height:70px;
}
.demo-list-three {
  width: 650px;
}

.bibliography, .bibliography li{
	padding:0px;
	margin:0px;
	padding-left: 15px;
	padding-right: 10px;
	list-style-type: none;
	clear: both;
}


.projects{
	padding:0px 15px;
}

.project-logo{
	display         : flex;
	justify-content : center;
	align-items     : center;
}
.project-logo img{
	display: block;
  margin-left: auto;
	height: 60px;
}

.project-desc p{
	font-size: 14pt;
}
.project-img{
	text-align: center;
}
.project-img img{
	width:100%;
	max-width: 300px;
	max-height: 300px;
}

.post-date{
	text-align: right;
}

.post{
	padding: 20px;
	/* border: solid thin black; */
}

div.vitae > h3{
	font-weight: bold;
	font-size: 18pt;
	padding: 0px;
	padding-top: 15px;
	margin: 0px;
	color:#973f1d;
}

div.vitae > h5{
	padding-left: 10px;
	margin: 0px;
	color:#b66920;
}

div.vitae h4{
	font-size: 16pt;
	padding: 0px;
	margin: 0px;
}

div.vitae > table {
	padding-left: 25px;
	width: 100%;
	min-width: 110px;
	/* font-size: 12pt; */
}

div.vitae > table > tbody >  tr >  td:nth-of-type(2) {
	width: 140px;
	/* padding-bottom: 15px; */
}

div.vitae > table > tbody > tr > td {
	vertical-align: top;
	/* padding-bottom: 10px; */
}

div.vitae > table > tbody > tr > td > ul {
	vertical-align: top;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
}

div.vitae > mdl-grid.div,hr{
	padding: 0px;
	margin: 0px;
}

div.vitae > ul{
	padding: 0px;
	padding-left: 30px;
	margin: 0px;
}

div.vitae a{
	text-decoration: none;
}

table.education tr{
	padding:0px;
	margin:0px;
	line-height: 150%;
} 
.mdl-mini-footer{
	padding: 5px;
}
active, .collapsible:hover {
	background-color: #ccc;
	text-decoration: underline;
	cursor:pointer;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
	overflow: hidden;
	transition: all 500ms linear;
}

.portfolio-header{
	/* min-height: 200px; */
	/* position: relative; */
	/* background-image: url(/assets/imgs/main-header-rz.jpg);
	background-size: cover; */
	color:"white";
	background-color:#3a5f7e;
}
.small-screen-header{
	color:"white";
	font-size: 24px;
	font-family: monospace;
	font-weight: bolder;
}
.portfolio-title{
	height: 150px;
}
.portfolio-nav-row{
	/* background-color:#3a5f7e; */
	/* border-top: #FFF thin solid; */
}

.nav-link{
	font-weight: bolder;
	font-size: 20px;
}

.project_title > a{
	text-decoration: none;
	color:#973f1d;
}