---
---
<div class="pub_entry">
		<a onclick="show_dialog(event)" id="link_{{entry.key}}" style="cursor: pointer;" title="Open the abstract" class="pub_title">
			<strong class="pub_title">
				{{entry.title}}
			</strong>
		</a><br/>
		<div class="authors">
			{% for author in entry.author_array %}
				{% if author.first == "Kokulapalan" %}
				<span class="bold_author">{{author.first | truncate: 1, ""}}. {{author.last}},</span>
				{% else %}
				<span>{{author.first| truncate: 1, ""}}. {{author.last}}{% if forloop.last %}.{% else %},{% endif %}</span> 
				{% endif %}
			{% endfor %}
			{% if entry.howpublished %}
				{{entry.howpublished}}
			{% endif %}
			{% if entry.journal %}
				<i>{{ entry.journal }}</i>,
			{% endif %}
			({{entry.year}}).
			{% if entry.note %}
				<i>{{ entry.note }}</i>
			{% endif %}
			
			{% if entry.doi %}
				[<a target="_blank" href="{{entry.url}}">{{entry.doi}}</a>]
			{% elsif entry.url %}
				[<a target="_blank" href="{{entry.url}}">link</a>] 
			{% endif %}
	</div>

	{% if entry.abstract %}
	<dialog class="mdl-dialog" style="width:80%" id="dialog_{{entry.key}}">
		<h6 class="mdl-dialog__title">{{entry.title}}</h6>
		<div class="mdl-dialog__content">
			<p>
				{{entry.abstract}}
			</p>
		</div>
		<div class="mdl-dialog__actions">
			<button type="button" class="mdl-button close"  id="close_{{entry.key}}">Close</button>
		</div>
	</dialog>
<script>
(function() {
  var dialogButton = document.querySelector('#link_{{entry.key}}');
	dialogButton.addEventListener('click', function() {
    dialog.showModal();
  });

  var dialog = document.querySelector('#dialog_{{entry.key}}');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }

  dialog.querySelector('#close_{{entry.key}}')
  .addEventListener('click', function() {
    dialog.close();
  });
}());
</script>
	{% endif %}
</div>
<br/>