---
layout: default
---
<h2>{{ page.title }}</h2>

{{ content }}

<ul class="mdl-list">
  {% for post in site.categories.blog %}
  <li class="mdl-list__item mdl-list__item--three-line">
		<span class="mdl-list__item-primary-content">
      <!-- <i class="material-icons mdl-list__item-avatar">biotech</i> -->
      <i class="material-icons mdl-list__item-avatar">biotech</i>
      <a class="post_url" href="{{post.url}}">{{post.title}}</a>
      <span class="mdl-list__item-text-body">
        {{ post.description }}
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <span class="mdl-list__item-secondary-action">
        {{ post.date | date: '%B %d, %Y' }}
      </span>
    </span>
  </li>
  {% endfor %}
</ul>
