---
layout: default
---

<div class="vitae" markdown="1">

    <h3>Education</h3>
    <hr>
    <table class="education">
    {% for degree in site.data.education %}
            <tr>
                <td>
                    <strong>
                    {{degree.title}}, {{degree.major}}
                    </strong>
                </td>
                <td>
                        {{degree.date}}
                </td>
            </tr>
            <tr>
                <td>
                {{degree.school}} <br>
                {{degree.advisors}} <br>         
                {{degree.thesis}}
            </td>
            </tr>
    {% endfor %}
    </table>


    <h3 class="collapsible">Research Experience</h3>
    <hr>
    <h5>Iowa State University</h5>

    <table>
    {% for project in site.data.research_exp.isu %}
        <tr>
            <td><strong>{{project.title}}</strong></td>
            <td>{{project.date}}</td>
        </tr>
        <tr>
            <td>
                <ul>
                {% for desc in project.desc %}
                    <li>{{desc}}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </table>

    <h5>Miami University</h5>
    <table>
    {% for project in site.data.research_exp.miami %}
        <tr>
            <td><strong>{{project.title}}</strong></td>
            <td>{{project.date}}</td>
        </tr>
        <tr>
            <td>
                <ul>
                {% for desc in project.desc %}
                    <li>{{desc}}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </table>

    <h3>Teaching Experience</h3>
    <hr>
    {% for uni in site.data.teaching_exp %}
    <h5> {{ uni.name }} </h5>
    <table>
    {% for exp in uni.positions %}
        <tr>
            <td> <strong>{{exp.title}} </strong></td>
            <td rowspan=2> {{exp.date}} </td>
        </tr>
        <tr>    
            <td>
                <ul>
                {% for class in exp.classes %}
                    <li>{{class}}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% endfor %}
    

    <h3>Talks</h3> 
    <hr>

    <div >
        {% bibliography --query @misc[type=talk] %}
    </div>

    <h3>Posters</h3>
    <hr>
    <div >
        {% bibliography --query @misc[type=poster] %}
    </div>

{% capture md %}

### Technical Skills
---
##### Computational Skills

* Languages: R, Python, JavaScript, PHP,  Perl, HTML, bash
* Web Frameworks: Flask, Django, Angular, R-Shiny
* Databases: MySQL/MariaDB, PostgreSQL, Neo4j
* Containerization: Docker and Singularity
* Other: Unix/Linux and Windows OS, Torque/PBS and Slurm HPC environments

##### Experimental Skills

* Standard PCR techniques (PCR, and RT-PCR)
* Experimental design, dissection and sample collection for NGS experiments
* DNA/RNA extraction from fixed and fresh samples
* BioAnalyzer, Fragment Analyzer, and Qubit for DNA/RNA Quantity and Quality
* Illumina Library Construction and QC
* Field experience in maize

### Awards and Fellowships
---

| **W. Young and W.E. Loomis Travel Award** <br/> Department of Genetics, Development, and Cell Biology <br/> Iowa State University | 2018 & 2014 |
| **PSI - Graduate Fellowship** <br/> Competitive 4 year fellowship awarded to students interested in plant sciences <br/> Plant Sciences Institute, Iowa State University | 2011 - 2015 |
| **Best Student-Poster Award** <br/> AGTA 2015, Hunter Valley, NSW, Australia | 2015 |
| **Leadership and Service Award**  <br/> Bioinformatics and Computational Biology Graduate Student Organization <br/> Iowa State University | 2015 |
| **Research Award**  <br/> Bioinformatics and Computational Biology Graduate Student Organization <br/> Iowa State University | 2015 |
| **Heimsch Graduate Award in Botany** <br/> Award given to top performing departmental graduate students <br/>  Botany Department, Miami University | 2011 |
| **Graduate Achievement Award** <br/> Award given to top performing graduate students <br/>  Graduate College, Miami University | 2011 |

### Service
---

| **Taking the Road Less Traveled** <br/> Volunteered at the one-day conference for middle school and high school girls to learn about STEM fields <br/> Iowa State University |  Spring 2018 |
| **Maize Annotation Jamboree** <br/> Workshop Participant <br/> Community maize genome curation for Gramene <br/> Cold Spring Harbor Lab | Fall 2017 |
| **Cricket Club** <br/> President (2015) & Webmaster (2014 - 2017) <br/>  Iowa State University | 2014 - 2017 |
| **Losing Fear of the Command Line** <br/> Workshop Volunteer for the Pre-conference workshop <br/> Maize Genetics Conference | Spring 2017 |
| **Introduction to Linux/Unix** <br/> Workshop Instructor <br/> Bioinformatics and Computational Biology Graduate Student Organization <br/> Iowa State University | 2016 & 2015 |
| **Graduate and Professional Student Senate** <br/> Senator <br/> Bioinformatics and Computational Biology program <br/> Iowa State University | 2013 - 2014 |
| **Sri Lankan Student Association** <br/> Treasurer (2013) & Webmaster (2011 - 2013) <br/> Iowa State University | 2011 - 2013 |

### Professional Memberships
---

| International Society of Computational Biology | 2016-2018 |
| Maize Cooperator | 2012-2018 |

{% endcapture %}
{{ md | markdownify }}

</div>